<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
            <nav>
        <ul>
        <li><a href="/" title="Home">Home</a></li>
            <li><a href="/vatche" title="Vatche">Vatche</a></li>
          <li><a href="/hovig" title="Hovig">Hovig</a></li>
          <li><a href="/aida" title="Aida">Aida</a></li>
      </ul>
      </nav>