<%- include partials/header.ejs %>

    <h1>Aida's Profile</h1>
    <p>Aida is my mother. She is 62 years old and owns her own tailor store for the past 13 years. Her store is called Tailor Made. She has been a seamstress for over 30 years. Amazing mother and an inspiration to her children.  </p>
  </body>
</html>
