<%- include partials/header.ejs %>

    <h1>Vatche's Profile</h1>
    <p>I am a 32 year old Grapgic Designer. Currently residing in Toronto. I am currently studying Interactive Web Design and Development at Georgian College.  </p>
  </body>
</html>
